body {
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
  }
  
  h1 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  input[type="text"] {
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 70%;
    margin-right: 10px;
  }
  
  button[type="submit"] {
    background-color: #2980b9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #3498db;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  
  li span {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  li button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  li button:hover {
    background-color: #c0392b;
  }
  
  li.completed {
    background-color: #ecf0f1;
  }
  